*{
    text-decoration: none;
}
.menu{
    /*background: black;*/
    
}
.divmenu{
    align-items:center;
    justify-content: space-between;
    display: flex;/*disposition en ligne */
    height: 100px;
}
li{
    display: inline-block;
    
}

li a{
    color:white;
    font-size: 20px;
    margin-right: 25px;
    
}
ul li a:hover {
    color:black; 
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 5px 10px; 
    border-radius: 5px; 
}
button{
   
    color: black;
    border-radius: 20px;
    padding: 10px;
}

.logo{
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
}

body{
    background-image: url(europe.jpg)
}
