* {
    text-decoration: none;
}


body{
    background-image: url(paysage.jpg)
}

.divmenu {
    align-items:center;
    justify-content: space-between;
    display: flex;/*disposition en ligne */
    height: 100px;
}

li {
    display: inline-block;
}

li a {
    color:white;
    font-size: 20px;
    margin-right: 25px;
    
}

ul li a:hover {
    color:black; 
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 5px 10px; 
    border-radius: 5px; 
}

.bouton_menu {
    color: black;
    border-radius: 20px;
    padding: 10px;
}

.logo {
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
}


.contenant { /*créer pour dédier un emplacement pour les élements*/
    display: flex; /* Aligner les élements en ligne */
    gap: 20px; /* Espacement entre chaque éléments */
    justify-content: center;
}

.carte {
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.imagerussie {
    background: url('russie.jpg') center/cover no-repeat;/*pour centrer, ajuster et pour eviter la répition de l'image*/
    height: 180px;
}
.imagealbanie {
    background: url('albanie.jpg') center/cover no-repeat;
    height: 180px;
}
.imagecroatie {
    background: url('croatie.jpg') center/cover no-repeat;
    height: 180px;
}

.texte {
    padding: 15px;
}

.texte h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.texte p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.texte a {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.texte a:hover {
    background-color: #0056b3;
}
