@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    text-decoration: none;
}

body{
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    background-image: url(paysage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    image-rendering: crisp-edges;
    background-attachment: fixed;
    
}

img[alt="Logo"] {
    margin-left: -10px;
}

/*debut Accueil*/
/*debut Menu*/
.divmenu{
    align-items:center;
    justify-content: space-between;
    display: flex;/*disposition en ligne */
    height: 100px;
}
li.limenu{
    display: inline-block;
    margin-left: -100px;
}

.limenu a{
    color:white;
    font-size: 20px;
    margin-right: 25px;
    
}
ul .limenu a:hover {
    color:black; 
    background-color: rgba(255, 255, 255, 0.2);
}
.bouton_menu{
   
    color: black;
    border-radius: 20px;
    padding: 10px;
}

.logo1{
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
}
/*fin Menu*/
/*Debut description accueil avec onglet inscription*/
.section_accueil{
    display: flex;
    align-items: center;
    justify-content: center;
}

.accueil_contenu1{
    display: flex;
    align-items: center;
    background-color: white;
    width: 500px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    
}
.accueil_image{
    width: 40%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}
.accueil_texte{
    width: 60%;
    padding: 0 20px;
    text-align: left;
}
.accueil_titre1{
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

.accueil_p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
}
.accueil_btn {
    background: #6c00d4;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    width: 100%;
    text-align: center;
}
.accueil_btn:hover {
    background: grey; 
}
/*Fin description accueil avec onglet inscription*/
/*fin Accueil*/
/*Présentation fin*/
.contenant { /*créer pour dédier un emplacement pour les élements*/
    display: flex; /* Aligner les élements en ligne */
    gap: 20px; /* Espacement entre chaque éléments */
    justify-content: center;
}

.carte {
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.imagerussie {
    background: url('russie.jpg') center/cover no-repeat;/*pour centrer, ajuster et pour eviter la répition de l'image*/
    height: 180px;
}
.imagealbanie {
    background: url('albanie.jpg') center/cover no-repeat;
    height: 180px;
}
.imagecroatie {
    background: url('croatie.jpg') center/cover no-repeat;
    height: 180px;
}

.texte {
    padding: 15px;
}

.texte h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.texte p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.texte a {
    text-decoration: none;
    background-color: #6c00d4;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    
}

.texte a:hover {
    background-color: #6c00d4;
}
/*Présentation fin*/



/*Body admin début*/

.haut-de-page {
    display: flex;
    justify-content: center;
}
.admin_warn {
    border-color: yellow;
    background-color: #0d1b1e;
    color: white;
}

.warn_image {
    border: none;
    padding: 5px;
}

.warn_text {
    border: none;
    padding: 5px;
    font-size: larger
}

.admin {
    background-image: url(paysage.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    image-rendering: crisp-edges;
    background-attachment: fixed;

}

nav.adminbar {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

ul.ul-adminbar{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    background: #0d1b1e;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

ul.ul-adminbar li {
    display: inline-block;
}

ul.ul-adminbar li a {
    margin: 25px;
}

nav.adminbar a{
        color: white;
        text-decoration: none;
        transition: color 0.4s;
}


nav.adminbar a:visited{
        color: white;
}

nav.adminbar a:hover {
        color: rgb(237, 184, 50);
    }

table.admintable{
    background-color: #0d1b1e;
    color: rgb(237, 184, 50); 
    padding: 4px;
    border-radius: 5px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.admintable td {
    padding: 12px 15px;
}

.admintable tbody tr:hover {
    background-color: #253134;
}


table caption.admintable{
    background-color: #0d1b1e; 
    text-align: left;
    padding: 4px;
    border-radius: 5px;
}

td > button{
    background-color: #0d1b1e; 
    color: rgb(237, 184, 50);
    border-radius: 5px;
}

div.admindiv{
    display: flex; 
    justify-content: center; 
    margin-top: 200px;
}

select{
    background-color: #0d1b1e; 
    color: rgb(237, 184, 50);
    border-radius: 5px;
}

option{
    color: #0d1b1e;
    background-color: rgb(237, 184, 50);
    border-radius: 5px;
}

td.td-admin a{
    color: rgb(237, 184, 50);
    text-decoration: none;
    transition: color 0.4s;
}


td.td-admin a:visited{
    color: rgb(237, 184, 50);
}

td.td-admin a:hover {
    color: white;
}

td.td-admin-modif {
    text-align: center;
}

/*Body admin fin*/


/*Footer début*/
footer {
    background-color: #0d1b1e;
    color: white;
    padding: 15px 0;
    margin-top: 280px;
}

.contenu {  
    display: flex;  
    max-width: 850px;
    margin: auto;
}

.colonne, .logo {   
    min-width: 300px;
    margin: 10px;
}

h3.footer_h3 {
    color: white;
}

ul.ul-footer {
    list-style: none;
    padding: 0;
}

ul.ul-footer li a {
    color: white;
    text-decoration: none;
    transition: color 0.4s;
}

ul.ul-footer li a:hover {
    color: rgb(237, 184, 50);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}
/*Footer fin*/

/*Connexion début*/
button[type=submit] {
    background: #6c00d4;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    width: 100%;
    text-align: center;
}
button[type=submit]:hover {
    background: grey;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label[for=cgu], label[for=newsletter], label[for=mdpoublie] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    text-align: left;
}

.lien {
    all: revert !important;
    text-align: left !important;
}


